body { background-color: black; color: #AAA; font-size: 12pt; height: 100vh; width: 100vw; overflow: hidden; display: flex; justify-content: center; align-items: center; flex-direction: column;}

#unsupported { border: 1px solid yellow; color: black; background-color: #FFFFAD; padding: 2em; margin: 1em; display: inline-block; }

#sidebar                        { width: 18em; height: 40em; float: left; font-size: 0.825em; background-color: #333; border: 1px solid white; padding: 1em;  }
#sidebar h2                     { color: white; text-align: center; margin: 0; }
#sidebar .parts                 { padding-left: 1em; list-style-type: none; margin-bottom: 2em; text-align: right; }
#sidebar .parts li a            { color: white; text-decoration: none; }
#sidebar .parts li a:visited    { color: white; }
#sidebar .parts li a:hover      { color: white; text-decoration: underline; }
#sidebar .parts li a.selected   { color: #F08010; }
#sidebar .parts li a i          { color: #AAA;    }
#sidebar .parts li a.selected i { color: #F08010; }
#sidebar .settings              { line-height: 1.2em; height: 1.2em; text-align: right; display: none; }
#sidebar .settings.size         { }
#sidebar .settings.speed        { margin-bottom: 1em; }
#sidebar .settings label        { vertical-align: middle; }
#sidebar .settings input        { vertical-align: middle; }
#sidebar .settings select       { vertical-align: middle; }
#sidebar .description           { margin-bottom: 2em; }
#sidebar .description b         { font-weight: normal; color: #FFF; }


@media screen and (min-width: 0px) {
  #sidebar { display: none; }
  #game    { display: block; width: 480px; height: 360px; margin: 0 auto; }
  .calibration { width: 480px;}
}

@media screen and (min-width: 800px) {
  #game    { width: 640px; height: 480px; }
  .calibration { width: 640px;}
}

@media screen and (min-width: 1000px) {
  #sidebar { display: none; }
}

@media screen and (min-width: 1200px) {
  #game    { width: 800px; height: 600px; }
  .calibration { width: 800px;}
}

@media screen and (min-width: 1600px) {
  #game    { width: 1024px; height: 768px; }
  .calibration { width: 1024px;}
}

.calibration {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.calibration > * {
  margin: 12px;
}

.homeButton{
  position: fixed;
  left: 10px;
  top: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
button {
  min-width: 160px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
  cursor: pointer;
  filter: grayscale(1);
}
