body {
  background-color: black;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  margin: 0;
}

button, .button {
  min-width: 160px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
  cursor: pointer;
  position: absolute;
  top: 1%;
  left: 1%;
  filter: grayscale(1);
}

.homeButton{
  position: fixed;
  left: 10px;
  top: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

canvas {
  border-radius: 5px;
}