body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../bg.png);
  background-position: center;
  background-size: cover;
  flex-direction: row;
  overflow: hidden;
}
button {
  min-width: 160px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
  cursor: pointer;
  filter: grayscale(1);
}
.homeButton{
  position: fixed;
  left: 10px;
  top: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
.terminal {
  position: relative;
  background: black;
  border-radius: 5px;
  width: 80vw;
  height: 80vh;
  color: white;
  padding: 8px;
  overflow: auto;
}
.err {
  color: darkred;
}
.bold {
  font-weight: bold;
}
.kill {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
}
.kill:hover {
  background-color: darkred;
}
