body {
  font-family: Calibri;
  height: 100vh;
  width: 100vw;
  background-position: fixed;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
  margin-right: 4px;
}

.status.green {
  background-color: green;
}
.status.red {
  background-color: red;
}

#track-score, #signal-strength {
  margin-left: 4px;
}

#received {
  margin-left: 4px;
  opacity: 0.5;
  font-size: 12px;
}

#overlay {
  opacity: 0.4;
}

.content {
  position: fixed;
  top:16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.input {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0;
}

.input .placeholder {
  width: 600px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.4);
}

.input *:not(:first-child) {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 12px;
}

button {
  min-width: 160px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.4;
}

.charts {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 1050px) {
  .content {
    /*flex-direction: row;*/
  }
}

.canvas-demo {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.homeButton{
  position: fixed;
  left: 10px;
  top: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

iframe {
  border: none;
}
