#p1-icon, #p2-icon, #p3-icon {
  height: 16px;
  margin-right: 8px;
  margin-left: 6px;
}
#p1-bat, #p2-bat, #p3-bat {
  height: 14px;
}
#p1-star, #p2-star, #p3-star {
  height: 14px;
  margin-left: 6px;
  opacity: 0;
}
#signal-strength > div {
  display:flex;
  align-items:center;
}
#signal-strength-sensors-1, #signal-strength-sensors-2, #signal-strength-sensors-3 {
  margin: 0px 6px;
  font-size: 0.7rem;
  color: gray;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bg.png);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  overflow: hidden;
}
.bot {
  width: 350px;
  position: fixed;
  bottom: 0;
  left: -350px;
  animation-duration: 5s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-flex;
  align-items:baseline;
  z-index: 9001;
}
.bot > * {
  margin-left:20px;
  opacity: 0.1;
}
@keyframes move {
  0% { left:-350px; }
  100% { left: 105vw; }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0px;
  z-index: 9001;
  overflow: auto;
}
.wrapper > .card {
  border-radius: 5px;
  width: 220px;
  height: 220px;
  background-color: rgba(0,0,0,0.4);
  margin: 5px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.7);
}
.wrapper > .card:hover {
  box-shadow: 0 0 2em black;
  transform: scale(1.25);
  z-index: 1000;
}
.wrapper > .card > .text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: "Open Sans";
  text-shadow:2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  width: 100%;
}
.card > .text > .description {
  opacity: 0;
  transition: opacity .2s;
  font-size: 0.75rem;
  font-weight: normal;
  text-shadow:1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: rgba(255,255,255,0.9);
  min-height: 4rem;
}
.card:hover > .text > .description {
  opacity: 1;
}
.card.disabled {
  filter: brightness(0.2);
  opacity: 0.4;
  cursor: not-allowed;
}
#particles-js {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
  margin-right: 4px;
}
.inline {
  height: 0.8rem;
}
.status.green {
  background-color: green;
}
.status.red {
  background-color: red;
}

#signal-strength {
  position: fixed;
  top: 2px;
  left: 4px;
}
a {
  text-decoration: none;
}
